@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2>Are you sure you want to remove this Stylist?</h2>

<h4>Stylist Name: @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h4>
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
<p>Back to @Html.ActionLink("Stylist List", "Index")</p>