@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist
<div class="headerAlign">
  <h2>Are you sure you want to remove this Stylist?</h2>
</div>
<h4>Stylist Name: @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h4>
<div class="stylistDeleteButton">
  @using (Html.BeginForm())
  {
    <input type="submit" value="Delete" />
  }
</div>
<div class="links">
  <p>Back to @Html.ActionLink("Stylist List", "Index")</p>
</div>