h1  {
  font-family: 'Dosis', sans-serif;
  font-size: 75px;
  text-align: center;
}

.homeLinkToStylists {
  text-align: center;
}

img {
width: 500px;
}

body  {
  background-color: #FFE8D6;
}

.homepagePic  {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h5, h4  {
  font-family: 'Shadows Into Light', cursive;
  font-size: 40px;
  text-align: center;
}

h2, h3  {
  font-family: 'Dosis', sans-serif;
  font-size: 40px;
}

p {
  font-family: 'Shadows Into Light', cursive;
}

.createForms  {
  font-family: 'Dosis', sans-serif;
  margin-left: 300px;
}

.lists {
  font-family: 'Dosis', sans-serif;
  font-size: 25px;
  list-style-position: inside;
  text-align: center;
  color: #6B705C
}

.lists li a{  
  color: #A5A58D;
}

.links a {
  color: #A5A58D;
}

.links {
  font-size: 20px;
  font-family: 'Shadows Into Light', cursive;
  margin-left: 0px;
  margin-top: 100px;
}


.stylist h4, .stylist h5{
  text-align: left;
  margin-top: 30px;
}

.lists .stylistClients  {
  text-align: left;
}

h2  .clientEdit{
  text-align: center;
}

input {
  border-radius: 15px;
  background-color: #B7B7A4;
  color: #6b705c;
}

.stylistDeleteButton  {
  margin-left: 500px;
}

.headerAlign  {
  text-align: center;
}