@{
  Layout = "_Layout";
}
<h1>Eau Claire's Salon</h1>
<div class="links">
  <p class="homeLinkToStylists">@Html.ActionLink("See all Stylists", "Index", "Stylists")</p>
</div>
<img src="../img/Salon.jpeg" class="homepagePic">
