@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Are you sure you want to remove this client?</h2>

<p>Client Name: @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</p>
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
<div class="links">
  <p>back to @Html.ActionLink("Stylist List", "Index", "Stylists")</p>
</div>